# Ignore virtual environment
venv/

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
*.db

# Ignore environment or secret files (if you create them later)
.env
.env.*

# Ignore system files
.DS_Store
Thumbs.db
ne